*build*
.vscode
.vs
.env

_deps

doc/html
doc/latex

CMakeCache.txt
CMakeFiles
CMakeUserPresets.json

install

**/.terraform
**/.terraform.lock.hcl

*_grpc.py
*_grpc.pyi
*_pb2.py
*_pb2.pyi
.venv

*__pycache__*

*.log

test-reports